NEXT_PUBLIC_SUPABASE_URL=https://jirsehfquzhdlpfhfhkh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImppcnNlaGZxdXpoZGxwZmhmaGtoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM2NzE4MzYsImV4cCI6MjA3OTI0NzgzNn0.DigEOX0atPTmgdyItm6IPBn9BmcSmBONQ7OAJqS8T4o
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImppcnNlaGZxdXpoZGxwZmhmaGtoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzY3MTgzNiwiZXhwIjoyMDc5MjQ3ODM2fQ.EXIOmYoVMebzPzYRD-WGJ1O12DJaHtbczes_igR1wGc
